@use "../styles.scss" as styles;

.snowflakes {
	width: 100vw;
	height: 100vh;
	position: fixed;
	overflow: hidden;
	background: linear-gradient(styles.$port 30%, styles.$bittersweet);

	.snowflake {
		position: absolute;
		width: 10px;
		height: 10px;
		background: linear-gradient(
			white,
			white
		); /* Workaround for Chromium's selective color inversion */
		border-radius: 50%;
		filter: drop-shadow(0 0 10px white);
	}
}
